<h1>New unit</h1> <br>
		
		<%# <%= form_with(model: @unit, method: :post) do |f|  %>
		<%= form_with(model: @course, @unit, method: :post) do |f|  %>
		<%= f.select :course_id, Course.all.collect{ |s| [s.title, s.id] } %>  
		


	  <%# <%= form_for @unit do |f| %> 
  <%# <%= f.collection_select :course_ids, Course.all, :id, :title, :body => true %>  


<%# <%= form_for(@unit) do |f| %> 
   <%# <div class="field">  %>
    <%# <%= f.label :course_ids %>  
    <%# <%= f.collection_select :course_ids, Course.all, :id, :title, multiple: true %> 
 
  <%# </div>  %>

	<p>
		<%= f.label :title %><br /><br>
		<%= f.text_area :title, rows: 3, class: "form-control", placeholder: "Text input", style: "width: 400px" %>
	</p>
    <br>
	<p>
		<%= f.label :body %><br /><br>
		<%= f.text_area :body, rows: 5, class: "form-control", placeholder: "Text input", style: "width: 400px" %>
	</p>
    <br>

	<p>
		<%= f.submit"Save Unit", class: "btn btn-primary"  %><br>
	</p>


	<% end %>  
	<br>
	<div>
  	<%# <%= button_to 'Back', course_units_path, method: :get %> 
	</div>


