<h1>Edit unit <%= "#{@unit.id}" %></h1>
<br>


<%= form_for :unit, url: course_unit_path(@unit), method: :put do |f| %>

<%# <%= form_for @course do |f| %> 
<%# <%= f.select :unut_ids, @units, :id, :title %> 


<%# <%= f.select :courses, Course.all.collect{ |s| [s.title, s.id] } %> 
		<%# <%= f.select :course_id, Course.all.collect{ |s| [s.title, s.id] } %> 

	<%# <%= form_with(model: @unit, method: :put) do |f|  %> 
		<%# <%= f.select :course_id, Course.all.collect{ |s| [s.title, s.id] } %> 

		<%# <%= form_for([@course, @course.units.find(@unit.id)]) do |f| %> 
 <%# <%= f.select :course_ids, Course.all.collect{ |s| [s.title, s.id] } %> 


	<p>
		<%= f.label :title %><br />
		<%= f.text_area :title, rows: 3, style: "width: 400px" %>
	</p>

	<p>
       <%= f.label :body %><br />
		<%= f.text_area :body, rows: 3, style: "width: 400px" %>
    </p>

	

	<p>
		<%= f.submit %>
	</p>

<%# <% end %>
<% end %>

<br>
<div>
  <%= button_to 'Back', course_units_path, method: :get %>
</div>
