<h1>New unit</h1> <br>

<%# <%= form_for(@comment, url: comments_path) do |f| %> 

<%# <%= form_with(model: @unit, method: :post) do |f| %> 


 

<%# # <%# <%= form_for(@unit, url: [@unit, { course: params[:course] }]) do |f|  %>

<%# # <%# <%= form_for :course, url: course_units_url(@unit) do |f|  %>

<%# <%= form_for([@course, @course.units.new]) do |f| %> 



<%# <%= form_with model: [ @course, @course.units.build ] do |f| %> 

<%# <%= form_for :course, url: new_course_unit_path(@unit), method: :post do |f| %>  

<%# <%= form_with([course: @course, unit: @unit]) do |f| %>

<%# <%= form_with(unit: @unit, method: :post) do |f| %> 

<%# # <%# <%= form_with url: new_course_unit_path, method: "post" do |f|  %>

  <%# <%= form_with(model: @unit, method: :post) do |f| %> 

  <%= form_for(@unit) do |f| %>

	<p>
		<%= f.label :title %><br /><br>
		<%= f.text_area :title, rows: 3, class: "form-control", placeholder: "Text input", style: "width: 400px" %>
	</p>
    <br>
	<p>
		<%= f.label :body %><br /><br>
		<%= f.text_area :body, rows: 5, class: "form-control", placeholder: "Text input", style: "width: 400px" %>
	</p>
    <br>

	<p>
		<%= f.submit"Save Unit", class: "btn btn-primary"  %><br>
	</p>


<% end %>  
<br>
<div>
  <%= button_to 'Back', course_units_path, method: :get %>
</div>


