<h1><%= @unit.title %></h1>

<p><%= @unit.body %></p>

<br>
<h2>Courses</h2>
<br>
<% @unit.courses.each do |course| %>
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= course.volume %>
  </p>
<% end %>

<h2>Add a course:</h2>
<%= form_with model: [ @unit, @unit.courses.build ] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :volume %><br>
    <%= form.text_area :volume %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<br>
<ul>
  <li><%= link_to "Edit", edit_unit_path(@unit) %></li>
  <li><%= link_to "Destroy", unit_path(@unit), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
