<%# <h1><%= @course.title</h1>  %>

<%# <p><%= @course.volume</p>  %>

<br>
<%# <h2>Unit <%= @unit.id</h2>  %>

<h2>Unit <%= @unit.id %></h2>

<br>
<%# <% @course.units.each do |unit| %> 
  <p>
    <strong>Title:</strong>
    <%= @unit.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @unit.body %>
  </p>
  

<%# <h2>Add a unit:</h2>
<%= form_with model: [ @course, @course.units.build ] do |form| %>
  <%# <p> %>
    <%# <%= form.label :title<br>  %>
    <%# <%= form.text_field :title %> 
  <%# </p> %>
  <%# <p> %>
    <%# <%= form.label :body<br> %>
    <%# <%= form.text_area :body %>
  <%# </p> %>
  <%# <p> %>
    <%# <%= form.submit %> 
  <%# </p> %>
<%# <% end %>  
<br>
<ul>
  <li><%= link_to "Edit", edit_course_unit_path(@unit) %></li>
  <br>
  <li><%= link_to "Destroy", course_unit_path(@unit), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

<br>
<li>
   <%= button_to 'Back to the course', courses_path(@course), method: :get %>
  
  </li>
  </ul>


