<!DOCTYPE html>
<html>
  <head>
    <title>CourseBuilderRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous" 
    /> %>
  </head>

<body style="height: 100vh;">
<div class="columns" style="height: 100%;">
  <div class="column is-one-fifth" style="height: 100%;">
    <header class="pt-4" style="height: 100%; background: #e5e5e5">
      <img class="px-4 pb-3" width="160" src="<%= '/logo.svg' %>" alt="Logo"/>

      <nav class="menu">
        <ul class="menu-list">
                    <% ['courses', 'units', 'settings'].each do |item|
            href = "/#{item}" %>
            <li><a class="pl-4" href="<%= href %>"><%= item %></a></li>
          <% end %>
        </ul>
      </nav>
    </header>
  </div>
  <main class="column p-5">
    <%= yield %>
  </main>
</div>
</body>
</html>